{% extends 'layouts/main.html' %}
{% block animation %}rollIn{% endblock %}
{% block title %}BMCLearn MCQs Test page{% endblock %}
{% block content %}
       
<div class="fixed-pic">
    <div class="content">
        <div class="about-section">
            <p class="about-text">About the Website</p>
            <img class="about-pic" src="/static/img/about/about-pic.jpg"/>
            <div class="main-body">
                <p>Hello
                    We’re some of medical students at baghdad medical college wants to increase the awarrness of E-Learning in iraq.
                    This is our First Step in this website.
                    
                    In 2018, Five graduate students in the University of Baghdad Faculty of Medicine donned Nazi uniforms and posed for glamour shots in a bizarre incident, it shows the world a bad view about medical students in iraq but this reflect only trace number of students. we want show the world how we are love the humanity and the science.
                    
                    <strong>The College of Medicine University of Baghdad</strong>, formerly known as the Iraqi Royal Medical College, First Medical college in iraq and was established in 1927.
                </p>
                <img class="bmc-pic" src="/static/img/about/bmc.jpg"/>
                <p>Students at College of Medicine University of Baghdad 1969</p>
                <p>The Creators:</p>
                <div class="pics">
                    <img class="creator-pic" src="/static/img/about/hu.jpg"/>
                    <img class="creator-pic" src="/static/img/about/jaffar.jpg"/>
                    <img class="creator-pic" src="/static/img/about/sajjad.jpg"/>
                    <img class="creator-pic" src="/static/img/about/abbas.jpg"/>
                </div>
                <p>Thanks All</p>
            </div>
        </div>
    </div>

{% endblock %}