{% extends 'layouts/main.html' %}
{% block animation %}fadeIn{% endblock %}
{% block title %}BMCLearn MCQs Test page{% endblock %}
{% block content %}
        
<!-- Home -->
<div class="home">
    <div class="content">
        <p class="BMC">Baghdad Medical College Learning Platform</p>
        <p class="info">This platform contain all previous final exams mcqs <br/> and the important ones that help you to get forward the success</p>
        <button class="btn-start" id="btn-start">Test yourself</button>
    </div>
</div>
{% endblock %}