{% extends 'layouts/main.html' %}
{% block animation %}fadeIn{% endblock %}
{% block title %}BMCLearn MCQs Semesters page{% endblock %}
{% block content %}

<!-- Grades -->
<div class="fixed-pic">
<div class="grades">
    <i class="fa fa-arrow-circle-left prev"></i>
    <div class="content slider">
        {% for semester in data %}
        <div class="grade">
            <p class="grade-num">semester {{semester.num}}</p>
            <img class="grade-pic" src="/static/img/semesters/{{semester.num}}.jpg"/>
            <a href="{{semester.grade_id}}/{{semester.num}}"><button class="btn-more">Learn More</button></a>
        </div>
        {% endfor %}
    </div>
    <i class="fa fa-arrow-circle-right next"></i>
</div>

{% endblock %}