{% extends 'layouts/form.html' %}
{% block animation %}bounceInDown{% endblock %}
{% block title %}BMCLearn MCQ editing page{% endblock %}
{% block content %}

<div class="form-wrapper">
    <form method="post" class="form">
        <h3 class="form-heading">Edit mcq</h3>
            <div class="form-group">
            <label for="name">question</label>
            {{ form.question(class_ = 'form-control', autofocus = true) }}
        <div class="form-group">
            <label for="choice_A">Choice A</label>
            {{ form.choice_A(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="choice_B">Choice B</label>
            {{ form.choice_B(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="choice_C">Choice C</label>
            {{ form.choice_C(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="choice_D">Choice D</label>
            {{ form.choice_D(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="choice_E">Choice E</label>
            <small>Not required</small>
            {{ form.choice_E(class_ = 'form-control', autofocus = true) }}
        </div>
        <div class="form-group">
            <label for="answer">Answer Letter</label>
            <input type="text" name="answer" value="{{form.answer.data}}" class="form-control" maxlength=1 required>
        </div>
        <div class="form-group">
            <label for="module_id">Module</label>
            <select name="module_id">
                {% for module in modules %}
                {% if module.id == form.module_id.data %}
                <option value="{{ module.id }}" selected>{{module.name}}</option>
                {% else %}
                <option value="{{ module.id }}">{{module.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Edit MCQ" class="btn btn-primary btn-lg btn-block">
    </form>
</div>

{% endblock %}